aside {
  width: 30%;
  padding-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightblue;
}
details > summary {
  padding: 4px;
  width: 200px;
  background-color: #eeefff;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor:pointer;
}
details > p {
  background-color: #eeefff;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}
figure {
  border: 1px #cccccc solid;
  padding: 10px;
  margin: inherit;
}
figcaption {
  background-color: lightblue;
  color: gray;
  font-style: italic;
  padding: 2px;
  text-align: left;
}
main {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}
main > h1, p, .browser {
  margin: 10px;
  padding: 5px;
}
.browser {
  background: white;
}
.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}
mark {
  background-color: lightgreen;
  color: black;
}
table, th, td {
  border: 1px solid black;
}
